i/hooks.gson
/log.txt
/build.xml
# Created by .ignore support plugin (hsz.mobi)
/Dog.iml
/.idea
/target
/jars/**/deobfuscated.jar
/jars/**/remapped.jar

# Eclipse ignores
/.settings
.classpath
.project

*.txt

